<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="styles.css"> -->
    <title>PMVVY Scheme Details</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/scheme1.css' %}">
</head>

<body>

    <h1>Pradhan Mantri Vaya Vandana Yojana (PMVVY)</h1>

    <div class="section">
        <h2>Eligibility for PMVVY</h2>
        <p>There are no specific eligibility criteria as such for PMVVY scheme except that the subscriber must be a senior citizen, i.e. (above the age of 60 years).</p>
        <p>The applicant must be an Indian citizen.</p>
        <p>There is no maximum entry age for the PMVVY scheme.</p>
        <p>The applicant must be ready to avail of the policy term of ten years.</p>
        <p>The total purchase price under the PMVVY should not exceed Rs.15 lakh.</p>
    </div>

    <div class="section">
        <h2>Documents Required for PMVVY</h2>
        <ul>
            <li>Aadhaar card</li>
            <li>PAN card</li>
            <li>Proof of age</li>
            <li>Proof of address</li>
            <li>Proof of income</li>
            <li>Bank account passbook</li>
            <li>Passport size photo of the applicant</li>
            <li>Documents indicating that the applicant has retired from employment</li>
        </ul>
    </div>

    <div class="section">
        <h2>Benefits of PMVVY</h2>
        <p>The PMVVY scheme provides subscribers with an assured return at the rate of 7% to 9% for 10 years (the government decides and revises the rate of return).</p>
        <p>Maturity Benefit: The entire amount (including the final pension and the purchase price) would be paid out once the policy term of 10 years is completed.</p>
        <p>Pension Payment: Pension is payable at the end of each period, as per the chosen frequency (monthly, quarterly, half-yearly, or yearly) during the policy term of 10 years.</p>
        <p>Death Benefit: If the subscriber passes away within the term of the policy, then the beneficiary would be paid out with the purchase price.</p>
        <p>Loan Benefit: A loan of up to 75% of the purchase price can be availed after three years to cover emergencies. However, a rate of interest will be charged for the loan amount as determined at periodic intervals by the government, and the loan interest will be recovered from the pension amount payable under the policy.</p>
        <p>Surrender Value: The scheme allows premature exit during the term of the policy under exceptional circumstances, such as when the pensioner requires money for the treatment of any critical/terminal illness of self or spouse. The surrender value of 98% of the purchase price will be payable to the pensioner in such cases.</p>
        <p>Free Look Period: If a policyholder is not satisfied with the policy, he/she can return the policy to the LIC within 15 days (30 days if this policy is purchased online) from the policy receipt date, stating the reason for objections. The amount refunded within the free look period is the purchase price deposited by the policyholder after deducting the charges for Stamp duty and pension paid, if any.</p>
        <p>Exclusion: There is an exclusion to this policy’s purchase price return. The entire purchase price is payable if a policyholder commits suicide.</p>
    </div>

    <div class="section">
        <h2>Application Procedure for PMVVY</h2>
        <ol>
            <li>Online procedure:
                <ol type="i" >
                    <li>Log onto the official website of LIC.</li>
                    <li>Click on the ‘Buy Online Policies’ option and click on the ‘Click here’ button by scrolling down the page.</li>
                    <li>Click on the ‘Pradhan Manti Vaya Vandana Yojana’ option under the ‘Buy Policy Online’ heading.</li>
                    <li>A new page will open. Click on the ‘Click to Buy Online’ option.</li>
                    <li>Enter the contact details and click on the ‘Proceed’ button.</li>
                    <li>Fill out the application form.</li>
                    <li>Submit the online application, upload the documents as requested, and click on the ‘Submit’ button to complete the registration.</li>
                </ol>
            </li>
                <li>Offline Procedure
                    <ol type="i">
                            <li>Collect the application form at any of the LIC branches.An example of the PMVVY application form is provided  <a href="https://www.insurance21.in/downloads/pradhan-mantri-vaya-vandana-plan-842-form.pdf">here</a> </li>
                            <li>Duly fill the application form.</li>
                            <li>Submit the duly filled application form by attaching all relevant documents to the LIC branch.</li>
                            <li>After verification of documents, a LIC agent will start the policy.</li>
                    </ol>
                </li>
        </ol>
    </div>
    
        <div class="section1">
            <h2>Apply Now</h2>
            <a href="https://transformingindia.mygov.in/scheme/pradhan-mantri-vaya-vandana-yojana/#check_eligible" class="button">Apply Online</a>
        </div>
    
    </body>
    
    </html>